on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # copy git 仓库到虚拟机上
    - name: 'Checkout codes'
      uses: actions/checkout@v1
    # 获取最新一条提交的git log  
    - name: Get Git Log
      id: git_log
      uses: superchenchao/action-test@main
      with:
        tag: origin/main
    # 发送邮件    
    - name: Send email
      uses: dawidd6/action-send-mail@v3
      with:
        server_address: smtp.163.com
        server_port: 465
        username: ${{secrets.MAIL_USERNAME}}
        password: ${{secrets.MAIL_PASSWORD}}
        subject: Github Actions job result
        to: ${{secrets.MAIL_TOUSERNAME}}
        from: ${{secrets.MAIL_USERNAME}}
        body: Build job of ${{github.repository}} completed successfully! ${{steps.git_log.outputs}}
    - name: Get the output
      run: | 
        echo "结果:  ${{!!str steps.git_log.outputs}}"
